@model IEnumerable<CalendarApp.Models.ViewModels.EventViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Event</h1>
   
@if (ViewData["Message"] != null)
{
    <h3>@ViewData["Message"]</h3>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Event.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.StartTime)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Event.EndTime)
            </td>

                <td>
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Event.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Event.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Event.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
